body {
  background-color: orange
}

h1 {
  font-size: 70px;
  text-align: left;
  font-family: sans-serif
}

p {
  color: rgb(90, 58,120);
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p2{
  color: blue;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
  font-size: 80px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p3 {
font-size: 40px; 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p4 {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

pic {
  width: 20px;
  height: 20px;
}